/* tag list */
.pa0 .list{
    display: inline-block;
}

/* article content*/
.mid-gray {
  width: 100%;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
/* quote */
blockquote {
  background: grey;
  position: relative;
  margin-inline-start: 0;
  padding: 1px;
  padding-left: 30px;
  color: #e6e5ef;
}

blockquote::before {
  content: ' >';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}


table th, td {
  padding: 10px;
}

table tr th{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table tr th:last-child{
  border-right: none;
}

table tr td{
  border: 1px solid black;
  border-top: none;
  border-left: none;
}

table tr td:last-child{
  border-right: none;
}